<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>佳人有约</title>
<link href="/statics/css/all_android.css" rel="stylesheet" type="text/css">
</head>

<body>
<nav>
  <h1><a href="javascript:history.go(-1)">佳人有约美容院</a></h1>
  <a href="#"><help>?</help></a>
</nav>
<allday>
  <topinfo>2013年8月9日<span>周五</span></topinfo>
  <a href="day.html"><hour>
    <times class="">18:00</times>
    <p>敏感修复</p>
  </hour></a>
</allday>
<peoples>
<h2>请选择为您服务的技师</h2>
  <section>
    {% for btc in avi_btcs %}
    <a href="javascript:;" id={{ btc.id }}><people class="selected">
        <div class="photo"><img src="/statics/img/photo1.png" alt="{{ btc.nickname }}"></div>
    </people></a>
    {% endfor %}
    <a href="#"><people class="selected">
      <div class="photo"><img src="/statics/img/photo1.png" alt="apple"></div>
    </people></a>
    <a href="#"><people>
      <div class="photo"><img src="/statics/img/photo2.png" alt="apple"></div>
    </people></a>
    <a href="#"><people>
      <div class="photo"><img src="/statics/img/photo3.png" alt="apple"></div>
    </people></a>
    <a href="#"><people>
      <div class="photo"><img src="/statics/img/photo4.png" alt="apple"></div>
    </people></a>
    <a href="#"><people>
      <div class="photo"><img src="/statics/img/photo5.png" alt="apple"></div>
    </people></a>
    <a href="#"><people>
      <div class="photo"><img src="/statics/img/photo6.png" alt="apple"></div>
    </people></a>
  </section>
</peoples> 
<footer>
 <button class="ok"><img src="/statics/img/icon_ok.png" width="50" height="50" alt="ok">确认</button>
</footer>
</body>
</html>
