<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>佳人有约</title>
<link href="/statics/css/all_android.css" rel="stylesheet" type="text/css">
</head>

<body>
<nav>
  <h1><a href="javascript:history.go(-1)">佳人有约美容院</a></h1>
  <a href="#"><help>?</help></a>
</nav>
<allday>
<topinfo>{{query_date | date:"Y年m月d日"}}<span>{{query_date | date:"D"}}</span></topinfo>
  {% for st in day_status %}
  <a href="/client/choose_service/{{ query_date | date:"Ymd" }}/{{ st.time | date:"Hi"}}"><hour {% if st.status == 2 %} class="full"{% endif %}>
      <times class="{% if st.status == 1 %}part{%elif st.status == 2%}full{%else%}{%endif%}">{{ st.time | date:"H:i"}}</times>
    <people>
    {%if st.status == 2%}
      <div class="zero">客满</div>
    {% else%}
      <div class="number">6</div>
    {% endif %}
    </people>
    <people>
      <div class="photo"><img src="img/photo1.png" alt="apple"></div>
    </people>
  </hour></a>
    {% endfor %}

</allday>
</body>
</html>
