<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>佳人有约</title>
<link href="/statics/css/all_android.css" rel="stylesheet" type="text/css">
</head>

<body>
<nav>
  <h1><a href="javascript:history.go(-1)">佳人有约美容院</a></h1>
  <a href="#"><help>?</help></a>
</nav>
<allday>
  <topinfo>2013年8月9日<span>周五</span></topinfo>
  <a href="day.html"><hour>
    <times class="">18:00</times>
    <people>
      <div class="number">3</div>
    </people>
    <people>
      <div class="photo"><img src="img/photo1.png" alt="apple"></div>
    </people>
  </hour></a>
</allday>
<projects>
  <h2>面部护理</h2>
  <section>
    <a href="people.html"><project><p>敏感修复<span>60分钟</span></p></project></a>
    <a href="people.html"><project><p>驻颜抗衰<span>90分钟</span></p></project></a>
    <a href="people.html"><project><p>美白淡斑<span>40分钟</span></p></project></a>
    <a href="people.html"><project><p>眼部特护<span>30分钟</span></p></project></a>
    <a href="people.html"><project><p>敏感修复<span>60分钟</span></p></project></a>
  </section>
  <h2>雕塑美体</h2>
  <section class="s_1">
    <a href="people.html"><project><p>敏感修复<span>60分钟</span></p></project></a>
    <a href="people.html"><project><p>敏感修复<span>60分钟</span></p></project></a>
    <a href="people.html"><project><p>敏感修复<span>60分钟</span></p></project></a>
    <a href="people.html"><project><p>敏感修复<span>60分钟</span></p></project></a>
    <a href="people.html"><project><p>敏感修复<span>60分钟</span></p></project></a>
  </section>
</projects> 
</body>
</html>
