<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>佳人有约</title>
<link href="/statics/css/all_android.css" rel="stylesheet" type="text/css">
</head>

<body>
<nav>
  <h1><a href="javascript:history.go(-1)">佳人有约美容院</a></h1>
  <a href="#"><help>?</help></a>
</nav>
<allday>
  <topinfo>{{query_time | date:"Y年m月d日"}}<span></span></topinfo>
  <a href="/client/day/{{ query_date_str }}"><hour>
    <times class="">{{query_time | date:"H:i"}}</times>
    <people>
      <div class="number">3</div>
    </people>
    <people>
      <div class="photo"><img src="img/photo1.png" alt="apple"></div>
    </people>
  </hour></a>
</allday>
<projects>

{% for type in services %}
  <h2>{{ type.type }}</h2>
  <section class="{% cycle 's_0' 's_1' 's_2' %}">
    {% for service in type.services %}
    <a href="people.html"><project><p>{{ service.ch_name }}<span>{{ service.time_spent }}分钟</span></p></project></a>
    {% endfor %}
  </section>
{% endfor %}

</projects> 
</body>
</html>
